{% extends 'base.html' %}
{% import '_macros.html' as macros %}
{% block page_content %}

    <div class="col-md-8">
        <div class="content">
            <div class="index-slider">
                {% include '_post.html' %}
            </div>
            {#            分页菜单，将写分页宏代替#}
            {% if pagination %}
                <div class="pagination">
                    {{ macros.pagination_widget(pagination, '.index') }}
                </div>
            {% endif %}
        </div>
    </div>
    {{ macros.sidebar(posts,g.categories) }}
{% endblock %}