<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设置关于我的内容</title>
</head>
<body>
<h2>修改关于我</h2>
<form action="#">
    <textarea name="about" id="about" cols="30" rows="10"></textarea>
    <input type="submit" value="提交">
</form>
<h2>增加友链</h2>
<form action="#">
    <p>
        <label for="name">名字</label>
        <input type="text" id="lkname" name="lkname">
    </p>
    <p>
        <label for="link">链接</label>
        <input type="text" id="lk" name="lk">
    </p>
    <input type="submit" value="增加">
</form>
</body>
</html>