<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Admin Template">
    <meta name="keywords" content="admin dashboard, admin, flat, flat ui, ui kit, app, web app, responsive">
    <link rel="shortcut icon" href="/images/ico/favicon.png">
    <title>博客登录 - Login</title>

    <!-- Base Styles -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->


</head>

<body class="login-body">

<div class="login-logo">
    <img src="/images/login_logo.png" alt="logo图片"/>
</div>

<h2 class="form-heading">登录</h2>
<div class="container log-row">
    <form class="form-signin" method="post" action="">
<div class="row">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

</div>
        <div class="login-wrap">
            {{ form.email(class_='form-control',placeholder='账号',autofocus='autofocus') }}
            {{ form.csrf_token }}
            {{ form.password(class_="form-control",placeholder="密码") }}
            {{ form.submit(class_="btn btn-lg btn-success btn-block") }}
            <label class="checkbox-custom check-success">
                {{ form.remember_me() }}
                {{ form.remember_me.label }}
            </label>
        </div>
        {#        <!-- Modal -->#}
        {#        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="forgotPass"#}
        {#             class="modal fade">#}
        {#            <div class="modal-dialog">#}
        {#                <div class="modal-content">#}
        {#                    <div class="modal-header">#}
        {#                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>#}
        {#                        <h4 class="modal-title">Forgot Password ?</h4>#}
        {#                    </div>#}
        {#                    <div class="modal-body">#}
        {#                        <p>Enter your e-mail address below to reset your password.</p>#}
        {#                        <input type="text" name="email" placeholder="Email" autocomplete="off"#}
        {#                               class="form-control placeholder-no-fix">#}
        {##}
        {#                    </div>#}
        {#                    <div class="modal-footer">#}
        {#                        <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>#}
        {#                        <button class="btn btn-success" type="button">Submit</button>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
        {#        <!-- modal -->#}

    </form>
</div>

<!--jquery-1.10.2.min-->
<script src="/js/jquery-1.11.1.min.js"></script>
<!--Bootstrap Js-->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jrespond..min.js"></script>

</body>
</html>
